<div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                We are developer, privacy of user data matter us the most, we develop website and softwares for the benifit of our end users, our team help us for completing our work.
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Photoshop & Illustrator</span>
                <span>Coding</span>
          </div>

    </div>
</div>
