<app-navbar></app-navbar>
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Detect Speed Of Your Typing</h1>
        <h2>Check the speed of your typing with our website and increse it with practice</h2>
        <div class="d-lg-flex">
          <a routerLink="typecheck" class="btn-get-started scrollto">Check Speed</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="../../assets/images/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
