<body style="background-color: #37517e;">
  <app-navbar></app-navbar>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Typing Testing.....</h1>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
  <br>
<br>
<div class="cotainer-fluid" *ngIf="!start">
  <div class="row">
    <marquee behavior="slide" direction="right" loop="1" scrollamount="35">
          <h2>Guideli</h2>
</marquee>
<marquee behavior="slide" direction="left" loop="1" scrollamount="35">
  <h2>nes....</h2>
</marquee>
<br>
<br>
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border border-white">
        <ul>
          <li>To start the test click on start button</li>
          <li>Type the text in the textarea</li>
          <li>Right side timer will be running</li>
          <li>To end the test just give space after the last character</li>
        </ul>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <br><br>

  <div class="container"  *ngIf="!start">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <button class="btn btn-primary btn-block" (click)="onClick()">START</button>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
<div class="container-fluid" *ngIf="start">
  <div class="row">
    <div class="col-xl-2 .col-lg-2 .col-md-2"></div>
    <div class="col-xl-8 .col-lg-8 .col-md-8">
      <p class="text-justify color"> <mark [ngStyle]="{'color':setColor()}">{{past}}</mark> <mark [ngStyle]="{'color':getColor()}">{{present}}</mark>{{future}}</p>
      <br>
      <br>
      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" placeholder="Enter Text" (keyup)="onKeyUp($event)" [(ngModel)]='inputText'></textarea>
      </div>
    </div>
    <div class="col-xl-2 .col-lg-2 .col-md-2">
        <h3>Minute:{{min}}</h3>
      <h3>Second:{{sec}}</h3>
    </div>
  </div>
</div>
<br>

</body>
<app-footer></app-footer>
