<section>
<div class="container">
  <div class="contactinfo">
    <div>
      <h2>Contact Info</h2>
      <ul class="info">
      <li>
        <span><img src = "../../assets/images/location.webp"></span>
        <span>Sohsarai Road<br>
          BiharSharif, Nalanda<br>
          803101
        </span>
      </li>
      <li>
        <span><img src = "../../assets/images/mail.webp"></span>
        <span>
          rishi.raj4662@gmail.com
        </span>
      </li>
      <li>
        <span><img src = "../../assets/images/call.webp"></span>
        <span>333-333-333</span>
      </li>
      </ul>
    </div>
     <ul class="sci">
        <li><a href = "https://www.facebook.com/profile.php?id=100006188359359"><img src="../../assets/images/c.jpg" height="33" width="33"></a></li>
        <li><a href = "https://www.instagram.com/rishi__rawal/"><img src="../../assets/images/insta.webp"height="30" width="30"></a></li>
        <li><a href = "https://twitter.com/RishiRa29732181"><img src="../../assets/images/twitter.png"height="30" width="30"></a></li>
        <li><a href = "linkedin.com/in/rishi-raj-ba02b8162"><img src="../../assets/images/li.png"height="30" width="30"></a></li>
      </ul>

  </div>
  <div class="contactForm">
    <h2>Send a Message</h2>
    <div class="formBox">
      <div class="inputBox w50">
        <input type="text" name="" required>
        <span>First Name</span>
      </div>
      <div class="inputBox w50">
        <input type="text" name="" required>
        <span>Last Name</span>
      </div>
      <div class="inputBox w50">
        <input type="text" name="" required>
        <span>Email Address</span>
      </div>
      <div class="inputBox w50">
        <input type="text" name="" required>
        <span>Mobile Number</span>
      </div>
      <div class="inputBox w100">
        <textarea name=" required"></textarea>
        <span>Write your message here...</span>
      </div>
      <div class="inputBox w50">
        <input type="submit" value="send">
      </div>
    </div>
  </div>
</div>
</section>
